@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');



*{
    margin: 0px;
    padding: 0px;
    

}

header{
    background-color: darkgray;
    color: white;
    text-align: center;
    font-family: 'Passion One', cursive;
    font-variant: small-caps;
    padding: 50px;
    font-size: 3vw;
    
    
}


nav{
    padding-top: 13px;
    background-color: black;
    text-align: right;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.377);

}

 nav a{
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 13px;
    font-weight: bold;
    transition-duration: 0.5s;

}

nav:hover{
    color: darkgrey;
}



main{
    text-align: center;
    background-color:black;
   padding: 50px;

}

p {
    padding-top: 10px;
    font-family: 'Sriracha', cursive;
}

p > a {
    text-decoration: none;
    color: darkgray
    font-weight: bold;
    

}

img{
    padding-top: 10px;  
}



section{
    background-color: black;
    color: white;
}


footer{
    padding: 10px;
    background-color: darkgray;
    text-align: center;
}

footer > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
   
    
}